@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

:root {
    --background-color: #faf8ef;

    --2color: #eee4da;
    --4color: #eee1c9;
    --8color: #f3b27a;
    --16color: #f69664;
    --32color: #f77c5f;
    --64color: #f75f3b;
    --128color: #edd073;
    --256color: #edcc62;
    --512color: #edc950;
    --1024color: #edc53f;
    --2048color: #edc22e;

}

body {
    background-color: var(--background-color);
    margin: 0px;
}

.game-container {
    width: 500px;
    height: 500px;
    background-color: #bbada0;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -256px;
    margin-left: -256px;

    border-radius: 2%;

    display: grid;
}

.grid-container {
    width: 95%;
    height: 95%;

    margin-left: 2.5%;
    margin-top: 2.5%;

    display: grid;

    resize: none;
    max-width: 95%;
    max-height: 95%;
}

.grid-row { 
    display: flex;
    height: auto;
    margin-bottom: 2.5%;
    resize: none;
}

.grid-row:last-child {
    margin-bottom: 0px;
}

.grid-cell {
    background-color: white;
    width: 25%;
    height: 100%;
    resize: none;
    margin-right: 2.5%;

    background-color: rgba(238,228,218,.35);
    border-radius: 5%;
}

.grid-cell:last-child {
    margin-right: 0px;
}

.title {
    position: absolute;

    left: 37.5%;
    top: 5%;
}

.title span {
    font-family: 'Roboto', sans-serif;
    color: #776e65;
    font-size: 75px;
}

.tile {
    background-color: #EEE4DA;
    display: grid;
    align-self: center;
    text-align: center; 
    height: 100%;
    width: auto;
    border-radius: 5%;
}

.tile-inner {
    position: absolute;
    width: 22%;

    align-self: center;
    text-align: center;

    line-height: 100%;

    font-size: 300%;
    font-family: 'Roboto', sans-serif;
    
    color: #776e65;
}
